<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Cargos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body id="top">
    <header class="page-header">
        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>
        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="text-decoration-none"  href="/">Inicio</a></li>
                <li><a class="text-decoration-none" href="PMiembros" >Miembros</a></li>
                <li><a class="text-decoration-none" href="PFamiliares">Familiares</a></li>
                <li><a class="text-decoration-none" href="PCargos" >Ministerios</a></li>
                <li><a class="text-decoration-none" href="PBautizos" >Bautizos</a></li>	
                <li><a class="text-decoration-none" href="PMatrimonios" >Matrimonios</a></li>	
            </ul>
        </nav>
    </header>

    <div class="p-5">
        <div class="row w-100">
            <div class="col-md-4 p-5 rounded-5 shadow-lg" style="background-color: rgb(241, 241, 241);">
                <div>
                    <h2>Registrar Nuevo Cargo</h2>
                    <form name="contactForm" method="post" action="/NCargos">
                        <fieldset class="p-3">
                            <div class="form-field">
                                <label for="miembro_id" class="form-label mt-3">Persona: </label>
                                <select name="miembro_id" class="h-full-width" style="height: 35px; padding: 5px; font-size: 16px;">
                                    <option value="" selected>Seleccionar Persona</option>
                                    <% miembros.forEach(miembro => { %>
                                        <option value="<%= miembro.id %>"><%= miembro.nombres || 9%></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-field">
                                <label for="ministerio_id" class="form-label mt-3">Ministerio: </label>
                                <select name="ministerio_id" class="h-full-width" style="height: 35px; padding: 5px; font-size: 16px;">
                                    <option value="" selected>Seleccionar Ministerio</option>
                                    <% ministerios.forEach(ministerio => { %>
                                        <option value="<%= ministerio.id %>"><%= ministerio.nombre || 9%></option>
                                    <% }); %>
                                 </select>
                            </div>
                            <br>
                            <input name="submit" class="btn btn--primary h-full-width" value="Registrar" type="submit">
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-8 p-5">
                <table id="tablaMiembros" class="table table-striped shadow-lg" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRES Y APELLIDOS</th>
                            <th scope="col">MINISTERIO</th>
                            <th scope="col">FECHA INICIO</th>
                            <th scope="col">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cargos.forEach(function(cargo) { %>
                            <tr>
                                <td><%= cargo.id %></td>
                                <td><%= cargo.nombreMiembro %></td>
                                <td><%= cargo.nombreMinisterio %></td>
                                <td><%= cargo.fecha_inicio %></td>
                                <td class="">
                                    <form method="post" action="/darDeBaja">
                                        <input type="hidden" name="id" value="<%= cargo.id %>">
                                        <button type="submit" class="btn" style="background-image: url('images/delete.png'); 
                                        width: 25px; height: 25px; background-size: cover;"></button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
    <footer class="s-footer">
        <div class="row footer-bottom">
            <div class="column ss-copyright">
                <span>© Copyright 2024</span> 
                <span>Design by <a class="text-decoration-none" href="https://wa.me/+59175346050/">Carlos Laime</a></span>
            </div>
        </div> 
    </footer>
    <script src="/negocio/NMiembros.js"></script>
</body>